.Home {
  background-color: var(--secColor);
  color: var(--whiteColor);
  min-height: 100vh;
  display: flex;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .avatarx {
      max-width: 15rem;
    }
  }
}
